html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-Latopolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: poLato; /* 3 */
    overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    height: 13px; /* 3 */
    width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Lato-Black */
@font-face {
    font-display: swap;
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Black.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Lato- Bold */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Bold.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Lato- Heavy */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Heavy.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* Lato- Regular */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Regular.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Lato- Medium */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Medium.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Lato- Light */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Light.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* Lato- Thin */
  @font-face {
    font-display: swap; 
    font-family: 'Lato';
    font-style: normal;
    src: url('../fonts/Lato-Thin.ttf') format('ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
*, *::before, *::after{
    box-sizing: inherit;
  }
  .header{
    height: 810px;
    width: 100%;
    background: url(/img/aboutus.png) no-repeat;
}
.wrapper{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    width: 1200px;
    margin: 0 auto;
 } 
.header_links-wrapper{
    max-width: 922px;
}
.header_nav{
    display: flex;
}
.header_list{
    height: 32px;
    width: 922px;
    display: flex;
    justify-content:start;
    align-items: end;
}
.header_item{
    margin-right: 52px;
    text-decoration: none;
    color: #323232;
    font-weight: 300;
    transition: color 0.3s ease;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    font-family: 'Inter';
}
.header_link:hover{
    text-decoration: underline 2px;
    text-underline-offset: 8px;
    color: #5CE1E6;
}
.link_BT{
    width: 140px;
    height: 47px;
    border: solid 1px;
    border-radius: 3px;
    background: none;
    border-color: #323232;
}
.link_BT:hover{
    border: none;
    background-color: #5CE1E6;
}
.link_bt-header{
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    font-family: 'Inter';
}
.header_content{
    margin: 0 auto;
    width: 1440px;
    height: 694px;
    padding-top: 184px;
    padding-bottom: 184px;
}
.content_header{
    font-family: "Lato";
    font-size: 96px;
    font-weight: 700;
    line-height: 82px;
    display: flex;
    justify-content: center;
    height: 124px;
}
.content{
    margin: 0 auto;
    height: 165px;
    width: 678px;
    margin-top: 32px;
    font-weight: 300;
    font-family: "Lato";
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #4D4D4D;
}
.s_link{
    height: 56px;
    width: 1440px;
    color: #888888;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
.arrow{
    background-clip: content-box;
    margin-left: 10px;
    width: 14px;
    height: 14px;   
}
.our_team-wrapper{
    width: 100%;
    height: 640px;
    padding-top: 100px;
}
.our_team-header{
    height: 90px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    font-family: "Lato";
    font-weight: 700;
}
.our_team-content{
    width: 1302px;
    height: 270px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.team_list{
    width: 1230px;
    display: flex;
    gap: 37px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.member{
    width: 191px;
    height: 270px;
}
.buttons_team{
    width: 1340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.bt_prev{
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}
.bt_next{
    width: 24px;
    height: 24px;
    background: none;
    border: none;  
}
.rectangle{
    width: 100%;
    height: 128px;
    background: url(/img/rectangle.png);
}
.invitation_wrapper{
    width: 100%;
    height: 546px;
    background-color: #F8F8F8;
    background: url(/img/inv_bg.png);
    padding-top: 64px;
    padding-bottom: 64px;
}
.invitation_header{
    text-align: center;
    height: 58px;
    font-size: 48px;
    font-weight: 700;
    font-family: "Lato";
    line-height: 57px;
    margin: 0 auto;
    letter-spacing: -1%;
    color: #323232;
}
.invitation_content{
    width: 1074px;
    height: 328px;
    margin: 0 auto;
    margin-top: 32px;
    padding-top: 15px;
}
.content_list{
    display: flex;
    justify-content: space-between;
}
.point_header{
    margin-bottom: 10px;
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #161616;
}
.point_content{
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #161616;
}
.content_list1{
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.content_list1:last-child{
    display: flex;
    align-items: end;
    padding-right: 86px;
}
.point_link{
    width: 148px;
    color: #888888;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.feedback_wrapper{
    height: 874px;
    width: 1903px;
    padding-top: 128px;   
    display: flex;
    justify-content: center;
}
.feedback_data{
    padding-right: 32px;
}
.data_header{
    width: 680px;
    height: 152px;
}
.data_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 32px;
}
.data_content{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.data_item{
    display: grid;
    padding-bottom: 16px;
}
.form_name{
    font-size: 16px;
    color: #808080;
    width: 680px;
    margin-bottom: 8px;
}
#username{
    width: 680px;
    height: 48px;
    border-radius: 4px;
    border-width: 0;
    gap: 8px;
    background-color: #F8F8F8;
}
#email{
    width: 680px;
    height: 48px;
    border-radius: 4px;
    border-width: 0;
    gap: 8px;
    background-color: #F8F8F8;
}
#mail{
    width: 680px;
    height: 180px;
    border-radius: 4px;
    border-width: 0;
    gap: 8px;
    background-color: #F8F8F8;
    resize: none;
    overflow: hidden;

}
.sendBT{
    width: 128px;
    height: 45px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, #5DE1E6 26.56%, rgba(118, 102, 199, 0.62) 97.25%); 
    border-image-slice: 1; 
}
.feedback_position{
    margin-left: 32px;
    width: 616px;
    height: 700px;
}
 /*  our_team styles end    */
.footer_wrapper{
    width: 1903px;
    height: 445px;
    background-color: #F8F8F8;
    padding-top: 80px;
}
.footer_content{
    width: 1440px;
    height: 285px;
    padding-left: 240px;
}
.footer_logo{
    width: 104px;
    height: 26px;
    margin-left: 64px;
}
.footer_links{
    width: 900px;
    height: 25px;
    margin-top: 22px;
    margin-left: 64px;
}
.footer_list{
    display: flex;
    justify-content: space-between ;
}
.footer_item{
    font-size: 18px;
    color: #676767;
    font-weight: 400;
    text-decoration: none;
}
.contact_data{
    margin-top: 22px;
    width: 1327px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    color: #676767;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.divider{
    margin-top: 22px;
    background-color: #676767;
    width: 1327px;
    height: 1px;
    opacity: 30%;
    border: #676767;
    border: solid 1px;
}
.footer_col{
    margin-top: 76px;
    width: 151px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    opacity: 60%;
    color: #676767;
    line-height: 20px;
}
